:root{
  --list-item-height: 6vh;
}

.list{
  width: 60%;
  height: auto;
  margin: 10vh auto;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;

  .list__item{
    display: flex;
      flex-flow: row nowrap;
    width: 100%;
    height: auto;
      min-height: var(--list-item-height);
    overflow-x: hidden;
    margin: 0 0 1vh 0;
    box-shadow: 0px 0px 1px .5px rgba(51,51,51,0.8); 
    *{
      line-height: var(--list-item-height);
      font-family: var(--main-font);
      color: #3c3c3c;
    }

    .list__item_text{
      --font-size: calc(var(--list-item-height) / 1.6);
      width: 80%;
      height: 100%;
      font-size: var(--font-size);
      padding-left: calc((var(--list-item-height) - var(--font-size)) / 2);
    }
    .list__item_btn{
      width: 20%;
      height: var(--list-item-height);
      border: none;
      border-left: 3px solid #3c3c3c;
      background-color: #fff;
      text-align: center;
      font-size: calc(var(--list-item-height) / 1.3);
      cursor: pointer;

      &:hover, &:focus{
        background-color: #3c3c3c;
        color: #fff;
        outline: none;
      }
    }
  }
}
.no-content{
  display: block;
  width: 50%;
  height: var(--input-height);
  position: absolute;
  top: calc(var(--input-height) * 2);
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(--input-height / 1.4);
  text-align: center;
  text-transform: uppercase;
}